<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- 半レスポンシブの場合 -->
<script type="text/javascript">
if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) || navigator.userAgent.indexOf('iPod') > 0 || (navigator.userAgent.indexOf('Android') > 0 && navigator.userAgent.indexOf('Mobile') > 0)) {
    document.write('<meta name="viewport" content="width=device-width, initial-scale=1.0">');
} else {
    document.write('<meta name="viewport" content="width=1024">');
}
</script>
<!-- 半レスポンシブの場合 -->

<!-- レスポンシブの場合 -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- レスポンシブの場合 -->

<title><%= page.title %><% if(page.id !== 'home'){ ' | ' + site.name } %></title>

<!-- OGP -->
<meta name="keywords" content="<%= page.keywords %>">
<meta name="description" content="<%= page.desc %>">
<meta property="og:locale" content="ja_JP">
<meta property="og:type" content="<% if(page.id == 'home'){ %>website<% } else { %>article<% } %>">
<meta property="og:site_name" content="<%= site.name %>">
<meta property="og:title" content="<%= page.title %>">
<meta property="og:url" content="<%= site.url + page.url %>">
<meta property="og:description" content="<%= page.desc %>">
<meta property="og:image" content="<% if(page.ogImg){ %><%= site.url + page.ogImg %><% } else { %><%= site.url + site.ogImg %><% } %>">
<meta name="twitter:card" content="<%= site.twitterCard %>">
<meta name="twitter:site" content="<%= site.twitterId %>">
<meta name="twitter:title" content="<%= page.title %>">
<meta name="twitter:description" content="<%= page.desc %>">
<meta name="twitter:image" content="<% if(page.ogImg){ %><%= site.url + page.ogImg %><% } else { %><%= site.url + site.ogImg %><% } %>">
<meta name="twitter:url" content="<%= site.url + page.url %>">

<!-- 連続した数字があると誤認識してしまうので、電話番号の自動リンク機能は停止 -->
<meta name="format-detection" content="telephone=no">

<!-- Link -->
<link rel="shortcut icon" href="<%= site.favicon %>" type="image/vnd.microsoft.icon">
<link rel="icon" href="<%= site.favicon %>" type="image/vnd.microsoft.icon">
<link rel="apple-touch-icon" href="<%= site.appleIcon %>">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="canonical" href="<%= site.url + page.url %>">
<% if(site.alternateUrl){ %><link rel="alternate" media="only screen and (max-width: 640px)" href="<% site.alternateUrl + page.url %>"><% } %>
<% if(page.amp === true){ %><link rel="amphtml" href="<%= site.ampUrl + page.url %>"><% } %>


</head>

<body>

<div id="wrapper" class="l-wrapper">

<header class="l-header">
ヘッダー
</header>

<div class="l-contents">

